---
const today = new Date();
---

<footer>
  <hr></hr>
	<p>&copy; {today.getFullYear()} Joel Lithgow. All rights reserved.</p>
</footer>
<style>
  footer {
    margin-top: 32px;
  }

	p {
	  padding: 32px;
		text-align: center;
	}
</style>
