---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		cta?: string;
    ctas?: array;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, cta, ctas },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
      {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
      <section class="header">
        <h1 class="title">{title}</h1>
        <p>{ description }</p>
      </section>
      <hr />
			<article class="content">
				<slot />
        { cta && <a href={ cta } target="_blank" class="cta"><button>Open Case Study</button></a> }
        </ul>
			</article>
		</main>
		<Footer />
	</body>
</html>



<style lang="scss">
main {
  & > img {
    max-height: 350px;
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: auto;
    border-radius: 4px;
    border: 2px solid #edeeee;
  }

  display: grid;
  gap: 32px;
}

.content {
  display: grid;
  grid-auto-columns: minmax( 0, 1fr );
  gap: 24px;
}

.header {
  display: grid;
  gap: 8px;
  max-width: 80%;

  & > h1 {
    font-size: 32px;
  }
  & > p {
    font-size: 20px;
  }
}

.cta {
  width: fit-content;
  
  & button {
    font-weight: bold;
    background-color: #222;
    color: #efefef;
    border-radius: 6px;
    padding: 8px 16px;

    transition: 0.2s all;

    &:hover {
      background-color: #111;
      cursor: pointer;
    }
  }
}
</style>
